#  PRACTICA #2 SOY HENRY

Cordial saludo, esta es una segunda práctica para "Soy Henry", hemos venido aprendiendo a cómo transformar datos para luego cuando los datos estén lo mejor posible según nuestro criterio, poder hacer predicciones de una forma muy efectiva, siempre es muy importante el preceso ETL, ya que según como se haga, la predicción será cercana a un buen porcentaje de presición.
El negocio de los inmuebles en el mundo siempre ha sido uno de los mas valorados y rentables, por eso con este pequeño ejemplo nos adentramos en este espacio, y poder mostrar como sería poder predecir precios de inmuebles en cualquier lugar del mundo, claro, siempre y cuando se tenga una buena información y muy gigante en datos.

Al ver que vamos a recibir datos en tablas "csv" lo primero que hacemos en importar las dos librerias que necesitamos 
para esto, pandas y numpy, en el transcurso del proceso mostraremos paso a paso lo mejor posible todo lo que hacemos para conseguir un buen resultado.

In [4]:
import pandas as pd
import numpy as np

En la siguiente práctica nos entregan un dataset con precios de inmuebles en Colombia; el cliente nos pide que generemos una predicción dando como resultado si un inmueble es caro o barato. ingresando las variables correspondientes; en el desarrollo de este notebook explicaremos paso a paso con cuales varibles decidimos hacer dicha predicción.

El cliente nos entrega dos datasets, uno con los datos a procesar ( "properties_colombia_train.csv" ) y el otro 
(""properties_colombia_test.csv") con datos para hacer pruebas cuando ya tengamos el modelo entrenado de predicción)

Debemos tener en cuenta que la estructura de los dos datasets debe quedar igual en el transcurso del desarrollo de la práctica,
ya que para hacer pruebas de predicción deben concordar estos.

In [5]:
propiedadesTrain=pd.read_csv("properties_colombia_train.csv")

In [6]:
propiedadesTest=pd.read_csv("properties_colombia_test.csv")

In [1105]:
propiedadesTest

,Unnamed: 0,id,ad_type,start_date,end_date,created_on,lat,lon,l1,l2,...,bathrooms,surface_total,surface_covered,currency,price_period,title,description,property_type,operation_type,geometry
0,852569,pCiVu6rxpBq9dCZfYCXXgA==,Propiedad,2020-09-04,2020-09-12,2020-09-04,4.722000,-74.075000,Colombia,Cundinamarca,...,3.0,660.0,350.0,COP,NaN,Casa En Arriendo/venta En Bogota Sotileza Cod....,"EXCLUSIVA CASA EN VENTA Y ARRIENDO, UBICADA EN...",Casa,Venta,POINT (-74.075 4.722)
1,121379,L0XSQ7mF1TWb1lHRg4n2+A==,Propiedad,2020-10-20,2020-10-20,2020-10-20,NaN,NaN,Colombia,Antioquia,...,3.0,NaN,NaN,COP,Mensual,SE VENDE APARTAMENTO EN EL SECTOR DE ZUÑIGA-EN...,"PR 7555. Apartamento Duplex en unidad cerrada,...",Apartamento,Venta,POINT EMPTY
2,119504,FbWRxZOMNoUzVOLXgkum1A==,Propiedad,2020-10-20,2020-10-22,2020-10-20,6.259253,-75.628381,Colombia,Antioquia,...,1.0,NaN,NaN,COP,NaN,Casa Barata San Javier Solo por este mes,"Casa compraventa escrituras en \n proceso,sala...",Casa,Venta,POINT (-75.6283806 6.25925267)
3,227304,RUV1P+3UOmNdlJ9fBdWFyw==,Propiedad,2020-12-10,9999-12-31,2020-12-10,6.203000,-75.556000,Colombia,Antioquia,...,NaN,2793.0,NaN,COP,NaN,Lote En Venta En Medellin La Calera Cod. VRPR6330,CODIGO 6330LOTE PARA LA VENTA DE 2793MTS,Lote,Venta,POINT (-75.556 6.203)
4,228600,ifKutEAhyovuDNeYrFFV+A==,Propiedad,2020-12-10,2020-12-11,2020-12-10,NaN,NaN,Colombia,Antioquia,...,2.0,NaN,NaN,COP,NaN,Casa en Venta Ubicado en MEDELLIN,Codigo Inmueble 505457 Casa en venta en el sec...,Casa,Venta,POINT EMPTY
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65845,400341,RuyWia5y5aifsVVKmIUSnw==,Propiedad,2020-12-02,2021-08-03,2020-12-02,6.212981,-75.599349,Colombia,Antioquia,...,NaN,NaN,NaN,COP,NaN,Venta de Apartamento La Mota,"Área 90 m2, 3 alcobas, principal con baño, 2 b...",Apartamento,Venta,POINT (-75.5993485451 6.2129806633)
65846,144249,PmGnbMcvOoweh0wsqAh6dA==,Propiedad,2020-07-27,2020-10-02,2020-07-27,5.041331,-75.512415,Colombia,Caldas,...,1.0,NaN,NaN,COP,NaN,APARTAMENTO EN VENTA EN VILLAMARIA VILLAMARIA...,"TRES ALCOBAS, SALA COMEDOR, ARMARIO, BAÑO, COC...",Apartamento,Venta,POINT (-75.5124152 5.0413313)
65847,817321,BFgIYQiaJNz/d9548oqXUg==,Propiedad,2020-11-06,2020-11-06,2020-11-06,5.064733,-75.670570,Colombia,Caldas,...,2.0,NaN,NaN,COP,Mensual,Vende casa campestre en Santagueda _ wasi660842,Casa campestre en conjunto cerrado de 4 alcoba...,Otro,Venta,POINT (-75.67057009 5.06473281)
65848,859339,DSSyKe2ynj2Iqkq1Tz4c0w==,Propiedad,2020-12-14,2020-12-14,2020-12-14,7.138641,-73.127312,Colombia,Santander,...,2.0,NaN,NaN,COP,Mensual,Vendo apto facilidad de pago,Vendo apto bien ubicado 3 habitación 2 baños s...,Apartamento,Venta,POINT (-73.12731171 7.13864078)
65849,248581,TM76X1aBkoucRabL+AoBXA==,Propiedad,2020-11-10,2020-11-11,2020-11-10,NaN,NaN,Colombia,Antioquia,...,2.0,NaN,NaN,COP,NaN,Apartamento en Venta Ubicado en MEDELLIN,Codigo Inmueble 423 Apartamento ubicado en el ...,Apartamento,Venta,POINT EMPTY

antes de todo hay una columna que nos dan precios en dolares, entonces debemos normalizar estos valores y nhacer una conversión
a precios en pesos colombianos (un estimativo serían a cada dolar se le da un valor de 4 mil pesos colombianos)

In [4]:
propiedadesTrain[propiedadesTrain["currency"]=="USD"]

,Unnamed: 0,id,ad_type,start_date,end_date,created_on,lat,lon,l1,l2,...,surface_total,surface_covered,price,currency,price_period,title,description,property_type,operation_type,geometry
5902,968218,rbp33S2gwQMUm4uL9uiESg==,Propiedad,2020-08-25,9999-12-31,2020-08-25,4.914310,-73.993189,Colombia,Cundinamarca,...,NaN,NaN,750000.0,USD,NaN,Vendo espectacular casa entre Bogota y Briceño,Espectacular casa entre Bogota- Briceño km 12 ...,Casa,Venta,POINT (-73.9931885 4.9143096)
49196,110,qw+l3GewCFgQ4KH0pxStUA==,Propiedad,2020-10-07,2021-01-22,2020-10-07,10.513831,-75.498685,Colombia,Bolívar,...,NaN,NaN,1960000.0,USD,NaN,Exclusive beach house for sale - Manzanillo de...,¡EXCLUSIVE BEACH HOUSE FOR SALE - MANZANILLO D...,Casa,Venta,POINT (-75.4986852407 10.5138313669)
56159,874575,4p1clkPJ5acEDb9cY38Umg==,Propiedad,2020-10-26,2020-10-26,2020-10-26,4.739003,-74.098302,Colombia,Cundinamarca,...,NaN,NaN,850000.0,USD,Mensual,Casa en Venta Costa del Este RAH PA: 20-11172,Viva en una casa espaciosa con terrazas y pati...,Casa,Venta,POINT (-74.098302 4.7390028)
56522,874396,yu6EN/r21XB3FDkuEVqL+A==,Propiedad,2020-10-26,2020-10-26,2020-10-26,4.695757,-74.043894,Colombia,Cundinamarca,...,NaN,NaN,1017000.0,USD,Mensual,Apartamento en Venta Santa Maria RAH PA: 20-10683,Majestuoso apartamento a estrenar con la mejor...,Apartamento,Venta,POINT (-74.0438943 4.6957568)
116979,51666,EwDsJaQoCbpejoXGZReUjw==,Propiedad,2020-09-13,2021-01-12,2020-09-13,NaN,NaN,Colombia,Santander,...,NaN,NaN,1143711.0,USD,NaN,Villa for sale Bali,Villa for sale Bali<br />\n<br />\nLocation: J...,Finca,Venta,POINT EMPTY
136236,200614,scSKyD9kllWlPnoFwbwOKw==,Propiedad,2020-09-16,2020-10-29,2020-09-16,4.622794,-74.090960,Colombia,Cundinamarca,...,NaN,NaN,65999999.0,USD,NaN,Venta Casa Excelente,<br />\n - Calefacción\n- Parrilla\n <br />\n ...,Casa,Venta,POINT (-74.0909602 4.622794)
137025,630538,U1bChe1aBazSg0SKUDfWXA==,Propiedad,2020-08-29,9999-12-31,2020-08-29,12.585979,-81.714549,Colombia,San Andrés Providencia y Santa Catalina,...,NaN,NaN,3000000.0,USD,NaN,HOTEL EN VENTA EN LA ISLA DE SAN ANDRÉS,\nUn Hotel Boutique TOTALMENTE frente al mar.\...,Otro,Venta,POINT (-81.7145490646 12.5859785199)
167143,102295,w7sVBDzBykDl7sgZmAQoXw==,Propiedad,2020-08-08,9999-12-31,2020-08-08,10.829302,-75.160260,Colombia,Atlántico,...,NaN,NaN,9750000.0,USD,NaN,Lote en venta Vía Barranquilla Cartagena,OPORTUNIDAD DE INVERSIÒN EN EL CARIBE COLOMBIA...,Lote,Venta,POINT (-75.1602602005 10.8293016581)

In [253]:
propiedadesTrain.loc[propiedadesTrain.currency=="USD","price"]=propiedadesTrain.price*4000

In [254]:
propiedadesTrain[propiedadesTrain["currency"]=="USD"]

,Unnamed: 0,id,ad_type,start_date,end_date,created_on,lat,lon,l1,l2,...,surface_total,surface_covered,price,currency,price_period,title,description,property_type,operation_type,geometry
5902,968218,rbp33S2gwQMUm4uL9uiESg==,Propiedad,2020-08-25,9999-12-31,2020-08-25,4.914310,-73.993189,Colombia,Cundinamarca,...,NaN,NaN,3.000000e+09,USD,NaN,Vendo espectacular casa entre Bogota y Briceño,Espectacular casa entre Bogota- Briceño km 12 ...,Casa,Venta,POINT (-73.9931885 4.9143096)
49196,110,qw+l3GewCFgQ4KH0pxStUA==,Propiedad,2020-10-07,2021-01-22,2020-10-07,10.513831,-75.498685,Colombia,Bolívar,...,NaN,NaN,7.840000e+09,USD,NaN,Exclusive beach house for sale - Manzanillo de...,¡EXCLUSIVE BEACH HOUSE FOR SALE - MANZANILLO D...,Casa,Venta,POINT (-75.4986852407 10.5138313669)
56159,874575,4p1clkPJ5acEDb9cY38Umg==,Propiedad,2020-10-26,2020-10-26,2020-10-26,4.739003,-74.098302,Colombia,Cundinamarca,...,NaN,NaN,3.400000e+09,USD,Mensual,Casa en Venta Costa del Este RAH PA: 20-11172,Viva en una casa espaciosa con terrazas y pati...,Casa,Venta,POINT (-74.098302 4.7390028)
56522,874396,yu6EN/r21XB3FDkuEVqL+A==,Propiedad,2020-10-26,2020-10-26,2020-10-26,4.695757,-74.043894,Colombia,Cundinamarca,...,NaN,NaN,4.068000e+09,USD,Mensual,Apartamento en Venta Santa Maria RAH PA: 20-10683,Majestuoso apartamento a estrenar con la mejor...,Apartamento,Venta,POINT (-74.0438943 4.6957568)
116979,51666,EwDsJaQoCbpejoXGZReUjw==,Propiedad,2020-09-13,2021-01-12,2020-09-13,NaN,NaN,Colombia,Santander,...,NaN,NaN,4.574844e+09,USD,NaN,Villa for sale Bali,Villa for sale Bali<br />\n<br />\nLocation: J...,Finca,Venta,POINT EMPTY
136236,200614,scSKyD9kllWlPnoFwbwOKw==,Propiedad,2020-09-16,2020-10-29,2020-09-16,4.622794,-74.090960,Colombia,Cundinamarca,...,NaN,NaN,2.640000e+11,USD,NaN,Venta Casa Excelente,<br />\n - Calefacción\n- Parrilla\n <br />\n ...,Casa,Venta,POINT (-74.0909602 4.622794)
137025,630538,U1bChe1aBazSg0SKUDfWXA==,Propiedad,2020-08-29,9999-12-31,2020-08-29,12.585979,-81.714549,Colombia,San Andrés Providencia y Santa Catalina,...,NaN,NaN,1.200000e+10,USD,NaN,HOTEL EN VENTA EN LA ISLA DE SAN ANDRÉS,\nUn Hotel Boutique TOTALMENTE frente al mar.\...,Otro,Venta,POINT (-81.7145490646 12.5859785199)
167143,102295,w7sVBDzBykDl7sgZmAQoXw==,Propiedad,2020-08-08,9999-12-31,2020-08-08,10.829302,-75.160260,Colombia,Atlántico,...,NaN,NaN,3.900000e+10,USD,NaN,Lote en venta Vía Barranquilla Cartagena,OPORTUNIDAD DE INVERSIÒN EN EL CARIBE COLOMBIA...,Lote,Venta,POINT (-75.1602602005 10.8293016581)

Al hacer la conversion a pesos colombianos veo que la cantidad es demasiada alta, puede ser un error de parte del cliente de 
digitación o algún otro problema, para evitar sesgos ya que serían valores muy atípicos decido eliminar estos registros.

In [4]:
propiedadesTrain = propiedadesTrain.drop(propiedadesTrain[propiedadesTrain['currency']=="USD"].index)

In [256]:
propiedadesTrain[propiedadesTrain["currency"]=="USD"]

Empty DataFrame
Columns: [Unnamed: 0, id, ad_type, start_date, end_date, created_on, lat, lon, l1, l2, l3, l4, l5, l6, rooms, bedrooms, bathrooms, surface_total, surface_covered, price, currency, price_period, title, description, property_type, operation_type, geometry]
Index: []

[0 rows x 27 columns]

In [ ]:
al haber eliminado estos registros la columna "currency" la elimino ya que queda con solo un valor unico.

In [7]:
propiedadesTrain.drop(["currency"],axis=1,inplace=True)

Haciendo investigaciones por mi cuenta y siendo colombiano, considero remplazar los precios faltantes (no los elimino) por 
un valor mas acorde, considero este valor 400000000 (400 millones) , pude considerar también la moda, pero como se trata de predecir si la casa es cara o barata preferí este valor

In [8]:
propiedadesTrain["price"]=propiedadesTrain["price"].fillna(400000000)

Luego sigue analizar e dentificar la columna target, en este caso sería la columna "precio" y calculamos el promedio de todos sus valores (esto por recomendación de los propios clientes).
con este promedio vamos a dividir el numero de registros, los que queden debajo de ese valor serían los baratos y los que queden por encima serian los caros.

In [9]:
promedio=propiedadesTrain["price"].mean()

In [10]:
promedio

643527403.3404472

En la siguiente línea de código discretizamos la variable "price" (0 y 1)

In [11]:
propiedadesTrain["target"]=(propiedadesTrain["price"]>=promedio).astype(int)

In [12]:
propiedadesTrain.target.value_counts()

0    151191
1     46358
Name: target, dtype: int64

eliminamos la columna "Unnamed: 0", en la tabla Train, ya que no nos aporta ninguna información útil

In [13]:
propiedadesTrain.drop(["Unnamed: 0"],axis=1,inplace=True)

In [167]:
propiedadesTrain

,id,ad_type,start_date,end_date,created_on,lat,lon,l1,l2,l3,...,surface_covered,price,currency,price_period,title,description,property_type,operation_type,geometry,target
0,CScTjaFiP6yCzS8tFX0ZVA==,Propiedad,2020-12-14,9999-12-31,2020-12-14,6.203000,-75.572000,Colombia,Antioquia,Medellín,...,NaN,9.000000e+09,COP,NaN,Hermosa Mansión En El Poblado. Área Construida...,<b>Hermosa Mansión En El Poblado. Área Constru...,Casa,Venta,POINT (-75.572 6.203),1
1,DlCxox9+FuugkxS2kBVfJg==,Propiedad,2020-09-16,2021-05-14,2020-09-16,4.722748,-74.073115,Colombia,Cundinamarca,Bogotá D.C,...,NaN,6.250000e+08,COP,NaN,"APARTAMENTO EN VENTA, BOGOTA-CIUDAD JARDIN NORTE",Venta apartamento en piso 16 con vista exterio...,Apartamento,Venta,POINT (-74.0731146 4.7227485),0
2,yitN1AigL45gh/K2YSF8rw==,Propiedad,2020-08-19,2020-08-20,2020-08-19,4.709000,-74.030000,Colombia,Cundinamarca,Bogotá D.C,...,NaN,4.200000e+08,COP,NaN,Apartamento En Venta En Bogota Bella Suiza Cod...,Al entrar a este bonito apartamento interior e...,Casa,Venta,POINT (-74.03 4.709),0
3,hELQ9njwODbLMpATXieRdQ==,Propiedad,2020-11-23,2020-11-30,2020-11-23,NaN,NaN,Colombia,Santander,Bucaramanga,...,NaN,1.310000e+09,COP,NaN,SE VENDE LOCAL COMERCIAL EN CABECERA DEL LLANO...,Se encuentra ubicado en el sector de la Cabece...,Otro,Venta,POINT EMPTY,1
4,aBCtKT7LDzt2CxJQ+gVFEA==,Propiedad,2020-10-06,2020-10-07,2020-10-06,NaN,NaN,Colombia,Antioquia,Medellín,...,NaN,2.100000e+08,COP,NaN,Apartamento en Venta Ubicado en ITAGUI,Codigo Inmueble 4302 Apartamento con 3 habitac...,Apartamento,Venta,POINT EMPTY,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197544,u2M1W+AwbEZlRdmphDOuZg==,Propiedad,2020-10-27,9999-12-31,2020-10-27,4.649682,-74.161950,Colombia,Cundinamarca,Bogotá D.C,...,NaN,1.290000e+08,COP,NaN,LM: VENDO APARTAMENTO EN TORRES DE TINTALA,"VENDO LINDO APARTAMENTO EN EL TINTAL, SEXTO PI...",Apartamento,Venta,POINT (-74.1619504 4.649682),0
197545,m0P17AlA6Sp+uvJTI3x3AA==,Propiedad,2020-11-27,2020-12-09,2020-11-27,4.668000,-74.055000,Colombia,Cundinamarca,Bogotá D.C,...,17.0,1.350000e+08,COP,NaN,Oficina En Venta En Bogota El Retiro Cod. VREI...,"OFICINA EN VENTA, MUY BIEN UBICADA CERCA A EL ...",Oficina,Venta,POINT (-74.055 4.668),0
197546,nSRnmPZIwE92m/FQv8ktVQ==,Propiedad,2020-10-28,2021-01-02,2020-10-28,3.413000,-76.541000,Colombia,Valle del Cauca,Cali,...,NaN,5.200000e+08,COP,NaN,Local En Venta En Cali Nueva Tequendama CodVBS...,Excelente local Ubicado en el segundo piso del...,Otro,Venta,POINT (-76.541 3.413),0
197547,cbYIZxxFHsXvvkixg5+DBQ==,Propiedad,2020-08-14,2020-08-14,2020-08-14,4.674874,-74.147077,Colombia,Cundinamarca,Bogotá D.C,...,NaN,2.900000e+08,COP,Mensual,VENTA CASALOTE FONTIBON,CASALOTE BIEN UBICADO FONTIBON OPSION DE CONST...,Casa,Venta,POINT (-74.14707691 4.67487431),0
197548,ivrCGYtvreFxwv/BHSLWTg==,Propiedad,2020-10-06,2020-11-27,2020-10-06,10.935994,-74.802899,Colombia,Atlántico,Barranquilla,...,NaN,3.000000e+07,COP,NaN,1 Apartamento en remate aprovecha nuestras ofe...,"sala, comedor, 2habitaciones cocina baño patio...",Apartamento,Venta,POINT (-74.8028991 10.9359937),0

In [169]:
propiedadesTest

,id,ad_type,start_date,end_date,created_on,lat,lon,l1,l2,l3,...,surface_total,surface_covered,price,currency,price_period,title,description,property_type,operation_type,geometry
0,CScTjaFiP6yCzS8tFX0ZVA==,Propiedad,2020-12-14,9999-12-31,2020-12-14,6.203000,-75.572000,Colombia,Antioquia,Medellín,...,NaN,NaN,9.000000e+09,COP,NaN,Hermosa Mansión En El Poblado. Área Construida...,<b>Hermosa Mansión En El Poblado. Área Constru...,Casa,Venta,POINT (-75.572 6.203)
1,DlCxox9+FuugkxS2kBVfJg==,Propiedad,2020-09-16,2021-05-14,2020-09-16,4.722748,-74.073115,Colombia,Cundinamarca,Bogotá D.C,...,NaN,NaN,6.250000e+08,COP,NaN,"APARTAMENTO EN VENTA, BOGOTA-CIUDAD JARDIN NORTE",Venta apartamento en piso 16 con vista exterio...,Apartamento,Venta,POINT (-74.0731146 4.7227485)
2,yitN1AigL45gh/K2YSF8rw==,Propiedad,2020-08-19,2020-08-20,2020-08-19,4.709000,-74.030000,Colombia,Cundinamarca,Bogotá D.C,...,NaN,NaN,4.200000e+08,COP,NaN,Apartamento En Venta En Bogota Bella Suiza Cod...,Al entrar a este bonito apartamento interior e...,Casa,Venta,POINT (-74.03 4.709)
3,hELQ9njwODbLMpATXieRdQ==,Propiedad,2020-11-23,2020-11-30,2020-11-23,NaN,NaN,Colombia,Santander,Bucaramanga,...,NaN,NaN,1.310000e+09,COP,NaN,SE VENDE LOCAL COMERCIAL EN CABECERA DEL LLANO...,Se encuentra ubicado en el sector de la Cabece...,Otro,Venta,POINT EMPTY
4,aBCtKT7LDzt2CxJQ+gVFEA==,Propiedad,2020-10-06,2020-10-07,2020-10-06,NaN,NaN,Colombia,Antioquia,Medellín,...,NaN,NaN,2.100000e+08,COP,NaN,Apartamento en Venta Ubicado en ITAGUI,Codigo Inmueble 4302 Apartamento con 3 habitac...,Apartamento,Venta,POINT EMPTY
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197544,u2M1W+AwbEZlRdmphDOuZg==,Propiedad,2020-10-27,9999-12-31,2020-10-27,4.649682,-74.161950,Colombia,Cundinamarca,Bogotá D.C,...,NaN,NaN,1.290000e+08,COP,NaN,LM: VENDO APARTAMENTO EN TORRES DE TINTALA,"VENDO LINDO APARTAMENTO EN EL TINTAL, SEXTO PI...",Apartamento,Venta,POINT (-74.1619504 4.649682)
197545,m0P17AlA6Sp+uvJTI3x3AA==,Propiedad,2020-11-27,2020-12-09,2020-11-27,4.668000,-74.055000,Colombia,Cundinamarca,Bogotá D.C,...,NaN,17.0,1.350000e+08,COP,NaN,Oficina En Venta En Bogota El Retiro Cod. VREI...,"OFICINA EN VENTA, MUY BIEN UBICADA CERCA A EL ...",Oficina,Venta,POINT (-74.055 4.668)
197546,nSRnmPZIwE92m/FQv8ktVQ==,Propiedad,2020-10-28,2021-01-02,2020-10-28,3.413000,-76.541000,Colombia,Valle del Cauca,Cali,...,NaN,NaN,5.200000e+08,COP,NaN,Local En Venta En Cali Nueva Tequendama CodVBS...,Excelente local Ubicado en el segundo piso del...,Otro,Venta,POINT (-76.541 3.413)
197547,cbYIZxxFHsXvvkixg5+DBQ==,Propiedad,2020-08-14,2020-08-14,2020-08-14,4.674874,-74.147077,Colombia,Cundinamarca,Bogotá D.C,...,NaN,NaN,2.900000e+08,COP,Mensual,VENTA CASALOTE FONTIBON,CASALOTE BIEN UBICADO FONTIBON OPSION DE CONST...,Casa,Venta,POINT (-74.14707691 4.67487431)
197548,ivrCGYtvreFxwv/BHSLWTg==,Propiedad,2020-10-06,2020-11-27,2020-10-06,10.935994,-74.802899,Colombia,Atlántico,Barranquilla,...,NaN,NaN,3.000000e+07,COP,NaN,1 Apartamento en remate aprovecha nuestras ofe...,"sala, comedor, 2habitaciones cocina baño patio...",Apartamento,Venta,POINT (-74.8028991 10.9359937)

En otra aplicación aparte(power Bi) pude verificar las ubicaciones de todas las coordenadas "lat y lon"

Encontre 4 ubicaciones de latitud y longitud malas (osea que no estaban ubicadas dentro de Colombia), ya que no se puede conocer la ubicación real de estas casas ( tal vez por error al transcribir ) decido eliminar 
esos 4 registros

In [14]:
propiedadesTrain[propiedadesTrain["lat"]==12.5244938806]

,id,ad_type,start_date,end_date,created_on,lat,lon,l1,l2,l3,...,surface_total,surface_covered,price,price_period,title,description,property_type,operation_type,geometry,target
114121,H0M6lH6z0ewvuzcF+Y6kOQ==,Propiedad,2020-09-16,9999-12-31,2020-09-16,12.524494,-81.72839,Colombia,San Andrés Providencia y Santa Catalina,NaN,...,NaN,NaN,3.500000e+09,NaN,Casa de Lujo en la Isla de Andrés,"Para vivir o para invertir, ésta casa llena de...",Finca,Venta,POINT (-81.7283900951 12.5244938806),1

In [18]:
propiedadesTrain[propiedadesTrain["lat"]==-32.787342]

,id,ad_type,start_date,end_date,created_on,lat,lon,l1,l2,l3,...,surface_covered,price,currency,price_period,title,description,property_type,operation_type,geometry,target
138682,0xtrMhsbAsQiEv9XHGWTIQ==,Propiedad,2020-09-29,2021-07-26,2020-09-29,-32.787342,-71.20732,Colombia,Cundinamarca,La Calera,...,NaN,2.000000e+09,COP,NaN,51548 LA CALERA MIRADO DEL LAGO,"Casa hermosa,amplia, vigilancia sector&nbsp; t...",Casa,Venta,POINT (-71.20732 -32.787342),2.000000e+09

In [22]:
propiedadesTrain[propiedadesTrain["lat"]==13.35191746]

,id,ad_type,start_date,end_date,created_on,lat,lon,l1,l2,l3,...,surface_covered,price,currency,price_period,title,description,property_type,operation_type,geometry,target
7159,E1CrdqxvEm4MD9sA5HLZfw==,Propiedad,2020-09-02,2020-09-02,2020-09-02,13.351917,-81.35745,Colombia,San Andrés Providencia y Santa Catalina,Providencia,...,NaN,2.850000e+09,COP,Mensual,Lote Terreno en Venta en Providencia _ wasi150...,De la Isla de San Andrés en Avión son 20 minut...,Lote,Venta,POINT (-81.35745049 13.35191746),2.850000e+09
18218,ywSOHAapPcRp3lH03MFUbQ==,Propiedad,2020-09-02,2020-09-21,2020-09-02,13.351917,-81.35745,Colombia,San Andrés Providencia y Santa Catalina,Providencia,...,NaN,2.850000e+09,COP,NaN,Lote Terreno en Venta en Providencia _ wasi150...,De la Isla de San Andrés en Avión son 20 minut...,Lote,Venta,POINT (-81.35745049 13.35191746),2.850000e+09

In [20]:
propiedadesTrain[propiedadesTrain["lat"]==34.420334]

,id,ad_type,start_date,end_date,created_on,lat,lon,l1,l2,l3,...,surface_covered,price,currency,price_period,title,description,property_type,operation_type,geometry,target
148562,s6bCv2RXRdHQGyS2+7WZ8Q==,Propiedad,2020-11-06,2021-07-26,2020-11-06,34.420334,-119.69819,Colombia,Cundinamarca,Bogotá D.C,...,NaN,600000000.0,COP,NaN,51599 SANTA BARBARA APARTAMENTO 506,"Apartamento&nbsp; para&nbsp; remodelar , duple...",Apartamento,Venta,POINT (-119.69819 34.420334),600000000.0

In [15]:
propiedadesTrain.drop(propiedadesTrain.index[propiedadesTrain.index==138682],axis=0,inplace=True)

In [16]:
propiedadesTrain.drop(propiedadesTrain.index[propiedadesTrain.index==148562],axis=0,inplace=True)

In [17]:
propiedadesTrain.drop(propiedadesTrain.index[propiedadesTrain.index==7159],axis=0,inplace=True)

In [18]:
propiedadesTrain.drop(propiedadesTrain.index[propiedadesTrain.index==18218],axis=0,inplace=True)

Al analizar las columnas, veo que hay varias que tratan sibre la ubicación de las casas, ya sabemos que el dataset es de
colombia, osea que esta columna(l1) la puedo elimininar, y las otras l2,l3,l4,l5 y l6 decido también eliminarlas ya que con 
solo latitud y longitud puedo conocer la ubicación excata de cada vivienda.

In [19]:
propiedadesTrain.drop(["l1","l2","l3","l4","l5","l6"],axis=1,inplace=True)

In [670]:
propiedadesTrain

,id,ad_type,start_date,end_date,created_on,lat,lon,rooms,bedrooms,bathrooms,...,surface_covered,price,currency,price_period,title,description,property_type,operation_type,geometry,target
0,CScTjaFiP6yCzS8tFX0ZVA==,Propiedad,2020-12-14,9999-12-31,2020-12-14,6.203000,-75.572000,NaN,4.0,4.0,...,NaN,9.000000e+09,COP,NaN,Hermosa Mansión En El Poblado. Área Construida...,<b>Hermosa Mansión En El Poblado. Área Constru...,Casa,Venta,POINT (-75.572 6.203),1
1,DlCxox9+FuugkxS2kBVfJg==,Propiedad,2020-09-16,2021-05-14,2020-09-16,4.722748,-74.073115,NaN,3.0,2.0,...,NaN,6.250000e+08,COP,NaN,"APARTAMENTO EN VENTA, BOGOTA-CIUDAD JARDIN NORTE",Venta apartamento en piso 16 con vista exterio...,Apartamento,Venta,POINT (-74.0731146 4.7227485),0
2,yitN1AigL45gh/K2YSF8rw==,Propiedad,2020-08-19,2020-08-20,2020-08-19,4.709000,-74.030000,NaN,NaN,2.0,...,NaN,4.200000e+08,COP,NaN,Apartamento En Venta En Bogota Bella Suiza Cod...,Al entrar a este bonito apartamento interior e...,Casa,Venta,POINT (-74.03 4.709),0
3,hELQ9njwODbLMpATXieRdQ==,Propiedad,2020-11-23,2020-11-30,2020-11-23,NaN,NaN,NaN,NaN,1.0,...,NaN,1.310000e+09,COP,NaN,SE VENDE LOCAL COMERCIAL EN CABECERA DEL LLANO...,Se encuentra ubicado en el sector de la Cabece...,Otro,Venta,POINT EMPTY,1
4,aBCtKT7LDzt2CxJQ+gVFEA==,Propiedad,2020-10-06,2020-10-07,2020-10-06,NaN,NaN,NaN,NaN,2.0,...,NaN,2.100000e+08,COP,NaN,Apartamento en Venta Ubicado en ITAGUI,Codigo Inmueble 4302 Apartamento con 3 habitac...,Apartamento,Venta,POINT EMPTY,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197544,u2M1W+AwbEZlRdmphDOuZg==,Propiedad,2020-10-27,9999-12-31,2020-10-27,4.649682,-74.161950,3.0,3.0,NaN,...,NaN,1.290000e+08,COP,NaN,LM: VENDO APARTAMENTO EN TORRES DE TINTALA,"VENDO LINDO APARTAMENTO EN EL TINTAL, SEXTO PI...",Apartamento,Venta,POINT (-74.1619504 4.649682),0
197545,m0P17AlA6Sp+uvJTI3x3AA==,Propiedad,2020-11-27,2020-12-09,2020-11-27,4.668000,-74.055000,NaN,NaN,1.0,...,17.0,1.350000e+08,COP,NaN,Oficina En Venta En Bogota El Retiro Cod. VREI...,"OFICINA EN VENTA, MUY BIEN UBICADA CERCA A EL ...",Oficina,Venta,POINT (-74.055 4.668),0
197546,nSRnmPZIwE92m/FQv8ktVQ==,Propiedad,2020-10-28,2021-01-02,2020-10-28,3.413000,-76.541000,NaN,NaN,1.0,...,NaN,5.200000e+08,COP,NaN,Local En Venta En Cali Nueva Tequendama CodVBS...,Excelente local Ubicado en el segundo piso del...,Otro,Venta,POINT (-76.541 3.413),0
197547,cbYIZxxFHsXvvkixg5+DBQ==,Propiedad,2020-08-14,2020-08-14,2020-08-14,4.674874,-74.147077,NaN,NaN,2.0,...,NaN,2.900000e+08,COP,Mensual,VENTA CASALOTE FONTIBON,CASALOTE BIEN UBICADO FONTIBON OPSION DE CONST...,Casa,Venta,POINT (-74.14707691 4.67487431),0
197548,ivrCGYtvreFxwv/BHSLWTg==,Propiedad,2020-10-06,2020-11-27,2020-10-06,10.935994,-74.802899,NaN,NaN,1.0,...,NaN,3.000000e+07,COP,NaN,1 Apartamento en remate aprovecha nuestras ofe...,"sala, comedor, 2habitaciones cocina baño patio...",Apartamento,Venta,POINT (-74.8028991 10.9359937),0

In [ ]:
En las columnas room,bedrooms,bathrooms, puedo remplazar con datos que sean los mas frecuentes en el datasets.ya que podemos
deducir esta información según la información mas casual que tengo.

In [20]:
propiedadesTrain.rooms=propiedadesTrain.rooms.fillna(3)

In [21]:
propiedadesTrain.bedrooms=propiedadesTrain.rooms.fillna(3)

In [22]:
propiedadesTrain.bathrooms=propiedadesTrain.rooms.fillna(2)

In [20]:
propiedadesTrain.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 197537 entries, 0 to 197548
Data columns (total 20 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   id               197537 non-null  object
 1   ad_type          197537 non-null  object
 2   start_date       197537 non-null  object
 3   end_date         197537 non-null  object
 4   created_on       197537 non-null  object
 5   lat              148040 non-null  float64
 6   lon              148040 non-null  float64
 7   rooms            197537 non-null  float64
 8   bedrooms         197537 non-null  float64
 9   bathrooms        197537 non-null  float64
 10  surface_total    6974 non-null    float64
 11  surface_covered  9802 non-null    float64
 12  price            197537 non-null  float64
 13  price_period     35968 non-null   object
 14  title            197536 non-null  object
 15  description      197416 non-null  object
 16  property_type    197537 non-null  object
 17  operation_type   197537 non-null  object
 18  geometry         197537 non-null  object
 19  target           197537 non-null  int32
dtypes: float64(8), int32(1), object(11)
memory usage: 30.9+ MB

En la columna "surface_covered" no tenemos muchos datos, igual se presenta con la columna "surface_total"
en esta caso procedemos tambien a eliminarlas. No podría sugerir un valor para estos datos faltantes.

Me parece muy impportante tratar de dejar esta columna ya que es indispensable en este ejemplo en particular conocer el tamaño 
del inmueble, pero los modelos necesitan de mucha información para que el entrenamiento de buenos resultados.

In [23]:
propiedadesTrain.drop(["surface_covered","surface_total"],axis=1,inplace=True)

Estas columnas "title","description" nos dan muy buena información ya que tienen muchos datos, pero no encuentro por
el momento una forma de extraer esa información en particular entonces decido eliminarla ya que el modelo toma solo columnas 
con valores numéricos y estas no se podrian categorizar.

In [24]:
propiedadesTrain.drop(["title","description"],axis=1,inplace=True)

In [ ]:
Ya que creamos una columna target, la columna de precios estaría de mas y procedo a eliminarla

In [25]:
propiedadesTrain.drop(["price"],axis=1,inplace=True)

In [ ]:
la columna "geometry" nos da la misma información que la latitu y la longitud, procedo tamnién a eliminarla

In [26]:
propiedadesTrain.drop(["geometry"],axis=1,inplace=True)

la columna ad_type nos da casi la misma información que "property_type", también la eliminamos

In [27]:
propiedadesTrain.drop(["ad_type"],axis=1,inplace=True)

En la columna "price_period" tampoco tenemos suficiente información, y vemos que con las primeras columnas podemos
obtener esta información, así que procedo a eliminarla

In [28]:
propiedadesTrain.drop(["price_period"],axis=1,inplace=True)

La columna id tampoco nos brinda imformación importante, y con las 3 columnas siguientes podemos obtener esa información,
procedo a eliminarla

In [29]:
propiedadesTrain.drop(["id"],axis=1,inplace=True)

Debo hacer un dropna en el dataset, ya que las columnas lat y lon tienen valores nulos, para mi concepto, es muy importante conocer la ubicación real del inmueble, (pensé en remplazar los valores faltantes con una ubicación similar a alguna otra ciudad, pero no creo que sea una buena opción. porque una mala ubicación nos daría datos errados posiblemente.

In [30]:
propiedadesTrain.dropna(inplace=True)

la columna "start_date" y la columna "created_on" tienen la misma información, procedo a eliminar "created_on" ya que con la otra voy a generar otra columna. Mas adelante explico

In [31]:
propiedadesTrain.drop(["created_on"],axis=1,inplace=True)

Nos sercioramos de que no hallan registros duplicados

In [32]:
propiedadesTrain.drop_duplicates(inplace=True)

In [325]:
propiedadesTrain.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 134529 entries, 0 to 197548
Data columns (total 9 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   start_date     134529 non-null  object
 1   end_date       134529 non-null  object
 2   lat            134529 non-null  float64
 3   lon            134529 non-null  float64
 4   rooms          134529 non-null  float64
 5   bedrooms       134529 non-null  float64
 6   bathrooms      134529 non-null  float64
 7   property_type  134529 non-null  object
 8   target         134529 non-null  int32
dtypes: float64(5), int32(1), object(3)
memory usage: 9.8+ MB

In [1020]:
propiedadesTrain

,start_date,end_date,lat,lon,rooms,bedrooms,bathrooms,property_type,target
0,2020-12-14,9999-12-31,6.203000,-75.572000,3.0,3.0,3.0,Casa,1
1,2020-09-16,2021-05-14,4.722748,-74.073115,3.0,3.0,3.0,Apartamento,0
2,2020-08-19,2020-08-20,4.709000,-74.030000,3.0,3.0,3.0,Casa,0
5,2020-12-17,2021-03-04,5.049009,-75.506802,3.0,3.0,3.0,Apartamento,0
6,2020-09-13,2020-09-24,4.732379,-74.082150,3.0,3.0,3.0,Casa,1
...,...,...,...,...,...,...,...,...,...
197542,2020-11-30,2021-05-19,7.064000,-73.106000,3.0,3.0,3.0,Apartamento,0
197544,2020-10-27,9999-12-31,4.649682,-74.161950,3.0,3.0,3.0,Apartamento,0
197546,2020-10-28,2021-01-02,3.413000,-76.541000,3.0,3.0,3.0,Otro,0
197547,2020-08-14,2020-08-14,4.674874,-74.147077,3.0,3.0,3.0,Casa,0
197548,2020-10-06,2020-11-27,10.935994,-74.802899,3.0,3.0,3.0,Apartamento,0

cambio el tipo de dato en las columnas "start_date" y en "end_date" ya que son tipo datetime

pero antes en la columna "end_date" hay valores que tienen en su fecha el año 9999 , este al hacer el astype no permite 
el cambio, por lo tanto debo cabiar este a un valor que permita hacer el astype luego

In [899]:
propiedadesTrain[propiedadesTrain["end_date"]=="9999-12-31"]

,start_date,end_date,lat,lon,rooms,bedrooms,bathrooms,property_type,target
0,2020-12-14,9999-12-31,6.203000,-75.572000,3.0,3.0,3.0,Casa,1
16,2020-11-25,9999-12-31,4.815559,-75.691144,5.0,5.0,5.0,Apartamento,0
27,2020-11-28,9999-12-31,4.817718,-75.691294,5.0,5.0,5.0,Finca,1
37,2020-09-08,9999-12-31,7.026361,-73.086891,4.0,4.0,4.0,Casa,1
56,2020-12-03,9999-12-31,11.000000,-74.799000,3.0,3.0,3.0,Apartamento,0
...,...,...,...,...,...,...,...,...,...
197433,2020-12-16,9999-12-31,6.156299,-75.608318,3.0,3.0,3.0,Apartamento,0
197455,2020-10-15,9999-12-31,6.215077,-75.556398,3.0,3.0,3.0,Apartamento,0
197485,2020-12-17,9999-12-31,10.996000,-74.796000,3.0,3.0,3.0,Apartamento,0
197500,2020-08-25,9999-12-31,4.667436,-74.050751,3.0,3.0,3.0,Apartamento,1
197544,2020-10-27,9999-12-31,4.649682,-74.161950,3.0,3.0,3.0,Apartamento,0

In [33]:
propiedadesTrain.end_date=propiedadesTrain.end_date.replace("9999-12-31","2023-12-31")

In [34]:
propiedadesTrain["start_date"]=pd.to_datetime(propiedadesTrain["start_date"])

In [35]:
propiedadesTrain["end_date"]=pd.to_datetime(propiedadesTrain["end_date"])

In [36]:
propiedadesTrain.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 134523 entries, 0 to 197548
Data columns (total 10 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   start_date      134523 non-null  datetime64[ns]
 1   end_date        134523 non-null  datetime64[ns]
 2   lat             134523 non-null  float64
 3   lon             134523 non-null  float64
 4   rooms           134523 non-null  float64
 5   bedrooms        134523 non-null  float64
 6   bathrooms       134523 non-null  float64
 7   property_type   134523 non-null  object
 8   operation_type  134523 non-null  object
 9   target          134523 non-null  int32
dtypes: datetime64[ns](2), float64(5), int32(1), object(2)
memory usage: 10.8+ MB

In [1106]:
propiedadesTest.head(1)

,Unnamed: 0,id,ad_type,start_date,end_date,created_on,lat,lon,l1,l2,...,bathrooms,surface_total,surface_covered,currency,price_period,title,description,property_type,operation_type,geometry
0,852569,pCiVu6rxpBq9dCZfYCXXgA==,Propiedad,2020-09-04,2020-09-12,2020-09-04,4.722,-74.075,Colombia,Cundinamarca,...,3.0,660.0,350.0,COP,NaN,Casa En Arriendo/venta En Bogota Sotileza Cod....,"EXCLUSIVA CASA EN VENTA Y ARRIENDO, UBICADA EN...",Casa,Venta,POINT (-74.075 4.722)

#  Procedo a eliminar todas las columnas en "properties_colombia_test"

ya que el otro dataset ("properties_colombia_test") debe quedar con la misma estructura procedo a hacer todo lo necesario para que quede igual al "properties_colombia_train"

In [36]:
propiedadesTest.drop(["created_on","Unnamed: 0","ad_type","l1","l2","l3","l4","l5","l6","surface_total","currency","price_period","description","operation_type","geometry","surface_covered","title"],axis=1,inplace=True)

In [35]:
propiedadesTest

,id,start_date,end_date,lat,lon,rooms,bedrooms,bathrooms,property_type
0,pCiVu6rxpBq9dCZfYCXXgA==,2020-09-04,2020-09-12,4.722000,-74.075000,3.0,3.0,3.0,Casa
1,L0XSQ7mF1TWb1lHRg4n2+A==,2020-10-20,2020-10-20,NaN,NaN,NaN,NaN,3.0,Apartamento
2,FbWRxZOMNoUzVOLXgkum1A==,2020-10-20,2020-10-22,6.259253,-75.628381,NaN,NaN,1.0,Casa
3,RUV1P+3UOmNdlJ9fBdWFyw==,2020-12-10,9999-12-31,6.203000,-75.556000,NaN,NaN,NaN,Lote
4,ifKutEAhyovuDNeYrFFV+A==,2020-12-10,2020-12-11,NaN,NaN,NaN,NaN,2.0,Casa
...,...,...,...,...,...,...,...,...,...
65845,RuyWia5y5aifsVVKmIUSnw==,2020-12-02,2021-08-03,6.212981,-75.599349,3.0,3.0,NaN,Apartamento
65846,PmGnbMcvOoweh0wsqAh6dA==,2020-07-27,2020-10-02,5.041331,-75.512415,NaN,NaN,1.0,Apartamento
65847,BFgIYQiaJNz/d9548oqXUg==,2020-11-06,2020-11-06,5.064733,-75.670570,NaN,NaN,2.0,Otro
65848,DSSyKe2ynj2Iqkq1Tz4c0w==,2020-12-14,2020-12-14,7.138641,-73.127312,NaN,NaN,2.0,Apartamento
65849,TM76X1aBkoucRabL+AoBXA==,2020-11-10,2020-11-11,NaN,NaN,NaN,NaN,2.0,Apartamento

In [286]:
propiedadesTrain.head(2)

,start_date,end_date,lat,lon,rooms,bedrooms,bathrooms,property_type,operation_type,target
0,2020-12-14,2023-12-31,6.203000,-75.572000,3.0,3.0,3.0,Casa,Venta,1
1,2020-09-16,2021-05-14,4.722748,-74.073115,3.0,3.0,3.0,Apartamento,Venta,0

In [523]:
propiedadesTrain.head(2)

,start_date,end_date,lat,lon,rooms,bedrooms,bathrooms,property_type,target
0,2020-12-14,2023-12-31,6.203000,-75.572000,3.0,3.0,3.0,Casa,1
1,2020-09-16,2021-05-14,4.722748,-74.073115,3.0,3.0,3.0,Apartamento,0

In [526]:
propiedadesTrain.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 134530 entries, 0 to 197548
Data columns (total 9 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   start_date     134530 non-null  datetime64[ns]
 1   end_date       134530 non-null  datetime64[ns]
 2   lat            134530 non-null  float64
 3   lon            134530 non-null  float64
 4   rooms          134530 non-null  float64
 5   bedrooms       134530 non-null  float64
 6   bathrooms      134530 non-null  float64
 7   property_type  134530 non-null  object
 8   target         134530 non-null  int32
dtypes: datetime64[ns](2), float64(5), int32(1), object(1)
memory usage: 9.8+ MB

Saco como conclusión que una propiedad tambien nos dice mucho del precio cuando se vende mas rápido que otra, las variables
"start_date" y "end_date" nos pueden ayudar, por esta razón creo otra varible "restafechas" que me da muestra como resultado 
los días que un inmueble ha durado en venderse (o no se ha vendido en algunos casos)

In [37]:
propiedadesTrain["restafechas"]=(propiedadesTrain['end_date'] - propiedadesTrain['start_date']).dt.days

In [1060]:
propiedadesTrain

,start_date,end_date,lat,lon,rooms,bedrooms,bathrooms,property_type,target,restafechas
0,2020-12-14,2023-12-31,6.203000,-75.572000,3.0,3.0,3.0,Casa,1,1112
1,2020-09-16,2021-05-14,4.722748,-74.073115,3.0,3.0,3.0,Apartamento,0,240
2,2020-08-19,2020-08-20,4.709000,-74.030000,3.0,3.0,3.0,Casa,0,1
5,2020-12-17,2021-03-04,5.049009,-75.506802,3.0,3.0,3.0,Apartamento,0,77
6,2020-09-13,2020-09-24,4.732379,-74.082150,3.0,3.0,3.0,Casa,1,11
...,...,...,...,...,...,...,...,...,...,...
197542,2020-11-30,2021-05-19,7.064000,-73.106000,3.0,3.0,3.0,Apartamento,0,170
197544,2020-10-27,2023-12-31,4.649682,-74.161950,3.0,3.0,3.0,Apartamento,0,1160
197546,2020-10-28,2021-01-02,3.413000,-76.541000,3.0,3.0,3.0,Otro,0,66
197547,2020-08-14,2020-08-14,4.674874,-74.147077,3.0,3.0,3.0,Casa,0,0
197548,2020-10-06,2020-11-27,10.935994,-74.802899,3.0,3.0,3.0,Apartamento,0,52

In [968]:
propiedadesTrain.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 134530 entries, 0 to 197548
Data columns (total 12 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   lat            134530 non-null  float64
 1   lon            134530 non-null  float64
 2   rooms          134530 non-null  float64
 3   bedrooms       134530 non-null  float64
 4   bathrooms      134530 non-null  float64
 5   property_type  134530 non-null  category
 6   target         134530 non-null  int32
 7   tiempoVenta1   134530 non-null  uint8
 8   tiempoVenta2   134530 non-null  uint8
 9   tiempoVenta3   134530 non-null  uint8
 10  tiempoVenta4   134530 non-null  uint8
 11  tiempoVenta5   134530 non-null  uint8
dtypes: category(1), float64(5), int32(1), uint8(5)
memory usage: 11.5 MB

debo categorizar los datos de la nueva columna, mi punto de vista es que si un aviso dura menos en publicarse es porque 
el inmueble tuvo un buen precio, entonces categorizo según 5 periodos de tiempo que dure el aviso...

In [38]:
propiedadesTrain["restafechas"]=propiedadesTrain["restafechas"].astype("category")

In [986]:
propiedadesTrain.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 134530 entries, 0 to 197548
Data columns (total 10 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   start_date     134530 non-null  datetime64[ns]
 1   end_date       134530 non-null  datetime64[ns]
 2   lat            134530 non-null  float64
 3   lon            134530 non-null  float64
 4   rooms          134530 non-null  float64
 5   bedrooms       134530 non-null  float64
 6   bathrooms      134530 non-null  float64
 7   property_type  134530 non-null  object
 8   target         134530 non-null  int32
 9   restafechas    134530 non-null  category
dtypes: category(1), datetime64[ns](2), float64(5), int32(1), object(1)
memory usage: 13.9+ MB

In [39]:
propiedadesTrain.restafechas=pd.cut ( propiedadesTrain.restafechas,
                                     bins = [-1, 30, 60, 100, 200, 2000],
                                    labels=["tiempoVenta1", "tiempoVenta2", "tiempoVenta3", "tiempoVenta4", "tiempoVenta5"])

In [127]:
propiedadesTrain

,start_date,end_date,lat,lon,rooms,bedrooms,bathrooms,property_type,operation_type,target,restafechas
0,2020-12-14,2023-12-31,6.203000,-75.572000,3.0,3.0,3.0,Casa,Venta,9.000000e+09,tiempoVenta5
1,2020-09-16,2021-05-14,4.722748,-74.073115,3.0,3.0,3.0,Apartamento,Venta,6.250000e+08,tiempoVenta5
2,2020-08-19,2020-08-20,4.709000,-74.030000,3.0,3.0,3.0,Casa,Venta,4.200000e+08,tiempoVenta1
5,2020-12-17,2021-03-04,5.049009,-75.506802,3.0,3.0,3.0,Apartamento,Venta,1.679523e+08,tiempoVenta3
6,2020-09-13,2020-09-24,4.732379,-74.082150,3.0,3.0,3.0,Casa,Venta,2.700000e+09,tiempoVenta1
...,...,...,...,...,...,...,...,...,...,...,...
197542,2020-11-30,2021-05-19,7.064000,-73.106000,3.0,3.0,3.0,Apartamento,Venta,3.450000e+08,tiempoVenta4
197544,2020-10-27,2023-12-31,4.649682,-74.161950,3.0,3.0,3.0,Apartamento,Venta,1.290000e+08,tiempoVenta5
197546,2020-10-28,2021-01-02,3.413000,-76.541000,3.0,3.0,3.0,Otro,Venta,5.200000e+08,tiempoVenta3
197547,2020-08-14,2020-08-14,4.674874,-74.147077,3.0,3.0,3.0,Casa,Venta,2.900000e+08,tiempoVenta1
197548,2020-10-06,2020-11-27,10.935994,-74.802899,3.0,3.0,3.0,Apartamento,Venta,3.000000e+07,tiempoVenta2

creo variables dummies de la columna "restafechas" originado asi unas nuevas variables necesarias para el modelo

In [1065]:
#dummies=pd.get_dummies(duplica.restafechas)

In [40]:
dummies=pd.get_dummies(propiedadesTrain.restafechas)

In [43]:
dummies

        tiempoVenta1  tiempoVenta2  tiempoVenta3  tiempoVenta4  tiempoVenta5
0                  0             0             0             0             1
1                  0             0             0             0             1
2                  1             0             0             0             0
5                  0             0             1             0             0
6                  1             0             0             0             0
...              ...           ...           ...           ...           ...
197542             0             0             0             1             0
197544             0             0             0             0             1
197546             0             0             1             0             0
197547             1             0             0             0             0
197548             0             1             0             0             0

[134523 rows x 5 columns]

luego concatenamos las nuevas columnas con el dataset original

In [41]:
propiedadesTrain=pd.concat([propiedadesTrain,dummies],axis=1)

In [131]:
propiedadesTrain

,start_date,end_date,lat,lon,rooms,bedrooms,bathrooms,property_type,operation_type,target,restafechas,tiempoVenta1,tiempoVenta2,tiempoVenta3,tiempoVenta4,tiempoVenta5
0,2020-12-14,2023-12-31,6.203000,-75.572000,3.0,3.0,3.0,Casa,Venta,9.000000e+09,tiempoVenta5,0,0,0,0,1
1,2020-09-16,2021-05-14,4.722748,-74.073115,3.0,3.0,3.0,Apartamento,Venta,6.250000e+08,tiempoVenta5,0,0,0,0,1
2,2020-08-19,2020-08-20,4.709000,-74.030000,3.0,3.0,3.0,Casa,Venta,4.200000e+08,tiempoVenta1,1,0,0,0,0
5,2020-12-17,2021-03-04,5.049009,-75.506802,3.0,3.0,3.0,Apartamento,Venta,1.679523e+08,tiempoVenta3,0,0,1,0,0
6,2020-09-13,2020-09-24,4.732379,-74.082150,3.0,3.0,3.0,Casa,Venta,2.700000e+09,tiempoVenta1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197542,2020-11-30,2021-05-19,7.064000,-73.106000,3.0,3.0,3.0,Apartamento,Venta,3.450000e+08,tiempoVenta4,0,0,0,1,0
197544,2020-10-27,2023-12-31,4.649682,-74.161950,3.0,3.0,3.0,Apartamento,Venta,1.290000e+08,tiempoVenta5,0,0,0,0,1
197546,2020-10-28,2021-01-02,3.413000,-76.541000,3.0,3.0,3.0,Otro,Venta,5.200000e+08,tiempoVenta3,0,0,1,0,0
197547,2020-08-14,2020-08-14,4.674874,-74.147077,3.0,3.0,3.0,Casa,Venta,2.900000e+08,tiempoVenta1,1,0,0,0,0
197548,2020-10-06,2020-11-27,10.935994,-74.802899,3.0,3.0,3.0,Apartamento,Venta,3.000000e+07,tiempoVenta2,0,1,0,0,0

eliminamos la columna "restafechas" ya que con las nuevas creadas esta ya no es necesaria

In [42]:
propiedadesTrain.drop(["restafechas"],axis=1,inplace=True)

In [133]:
propiedadesTrain

,start_date,end_date,lat,lon,rooms,bedrooms,bathrooms,property_type,operation_type,target,tiempoVenta1,tiempoVenta2,tiempoVenta3,tiempoVenta4,tiempoVenta5
0,2020-12-14,2023-12-31,6.203000,-75.572000,3.0,3.0,3.0,Casa,Venta,9.000000e+09,0,0,0,0,1
1,2020-09-16,2021-05-14,4.722748,-74.073115,3.0,3.0,3.0,Apartamento,Venta,6.250000e+08,0,0,0,0,1
2,2020-08-19,2020-08-20,4.709000,-74.030000,3.0,3.0,3.0,Casa,Venta,4.200000e+08,1,0,0,0,0
5,2020-12-17,2021-03-04,5.049009,-75.506802,3.0,3.0,3.0,Apartamento,Venta,1.679523e+08,0,0,1,0,0
6,2020-09-13,2020-09-24,4.732379,-74.082150,3.0,3.0,3.0,Casa,Venta,2.700000e+09,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197542,2020-11-30,2021-05-19,7.064000,-73.106000,3.0,3.0,3.0,Apartamento,Venta,3.450000e+08,0,0,0,1,0
197544,2020-10-27,2023-12-31,4.649682,-74.161950,3.0,3.0,3.0,Apartamento,Venta,1.290000e+08,0,0,0,0,1
197546,2020-10-28,2021-01-02,3.413000,-76.541000,3.0,3.0,3.0,Otro,Venta,5.200000e+08,0,0,1,0,0
197547,2020-08-14,2020-08-14,4.674874,-74.147077,3.0,3.0,3.0,Casa,Venta,2.900000e+08,1,0,0,0,0
197548,2020-10-06,2020-11-27,10.935994,-74.802899,3.0,3.0,3.0,Apartamento,Venta,3.000000e+07,0,1,0,0,0

# test

todo el procesamiento que hice con las  columnas "start_date,end_date" lo hago en properties_colombia_test.csv,
ya que debe quedar igual

In [43]:
propiedadesTest.end_date=propiedadesTest.end_date.replace("9999-12-31","2023-12-31")

In [44]:
propiedadesTest["end_date"]=pd.to_datetime(propiedadesTest["end_date"])

In [45]:
propiedadesTest["start_date"]=pd.to_datetime(propiedadesTest["start_date"])

In [46]:
propiedadesTest["restafechas"]=(propiedadesTest['end_date'] - propiedadesTest['start_date']).dt.days

In [47]:
propiedadesTest["restafechas"]=propiedadesTest["restafechas"].astype("category")

In [48]:
propiedadesTest.restafechas=pd.cut ( propiedadesTest.restafechas,
                                     bins = [-1, 30, 60, 100, 200, 2000],
                                    labels=["tiempoVenta1", "tiempoVenta2", "tiempoVenta3", "tiempoVenta4", "tiempoVenta5"])

In [49]:
dummiesTest=pd.get_dummies(propiedadesTest.restafechas)

In [50]:
propiedadesTest=pd.concat([propiedadesTest,dummiesTest],axis=1)

In [51]:
propiedadesTest.drop(["restafechas"],axis=1,inplace=True)

In [55]:
propiedadesTest

,id,start_date,end_date,lat,lon,rooms,bedrooms,bathrooms,property_type,tiempoVenta1,tiempoVenta2,tiempoVenta3,tiempoVenta4,tiempoVenta5
0,pCiVu6rxpBq9dCZfYCXXgA==,2020-09-04,2020-09-12,4.722000,-74.075000,3.0,3.0,3.0,Casa,1,0,0,0,0
1,L0XSQ7mF1TWb1lHRg4n2+A==,2020-10-20,2020-10-20,NaN,NaN,NaN,NaN,3.0,Apartamento,1,0,0,0,0
2,FbWRxZOMNoUzVOLXgkum1A==,2020-10-20,2020-10-22,6.259253,-75.628381,NaN,NaN,1.0,Casa,1,0,0,0,0
3,RUV1P+3UOmNdlJ9fBdWFyw==,2020-12-10,2023-12-31,6.203000,-75.556000,NaN,NaN,NaN,Lote,0,0,0,0,1
4,ifKutEAhyovuDNeYrFFV+A==,2020-12-10,2020-12-11,NaN,NaN,NaN,NaN,2.0,Casa,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65845,RuyWia5y5aifsVVKmIUSnw==,2020-12-02,2021-08-03,6.212981,-75.599349,3.0,3.0,NaN,Apartamento,0,0,0,0,1
65846,PmGnbMcvOoweh0wsqAh6dA==,2020-07-27,2020-10-02,5.041331,-75.512415,NaN,NaN,1.0,Apartamento,0,0,1,0,0
65847,BFgIYQiaJNz/d9548oqXUg==,2020-11-06,2020-11-06,5.064733,-75.670570,NaN,NaN,2.0,Otro,1,0,0,0,0
65848,DSSyKe2ynj2Iqkq1Tz4c0w==,2020-12-14,2020-12-14,7.138641,-73.127312,NaN,NaN,2.0,Apartamento,1,0,0,0,0
65849,TM76X1aBkoucRabL+AoBXA==,2020-11-10,2020-11-11,NaN,NaN,NaN,NaN,2.0,Apartamento,1,0,0,0,0

A continuación voy a categorizar la columna "property_type"

In [52]:
tipo_propiedad={"Apartamento":1,"Casa":2,"Finca":3,"Local comercial":4,"Lote":5,"Oficina":6,"Otro":7,"Parqueadero":8}

In [53]:
propiedadesTrain["property_type"]=propiedadesTrain["property_type"].map(tipo_propiedad)

In [58]:
propiedadesTrain

,start_date,end_date,lat,lon,rooms,bedrooms,bathrooms,property_type,operation_type,target,tiempoVenta1,tiempoVenta2,tiempoVenta3,tiempoVenta4,tiempoVenta5
0,2020-12-14,2023-12-31,6.203000,-75.572000,3.0,3.0,3.0,2,Venta,1,0,0,0,0,1
1,2020-09-16,2021-05-14,4.722748,-74.073115,3.0,3.0,3.0,1,Venta,0,0,0,0,0,1
2,2020-08-19,2020-08-20,4.709000,-74.030000,3.0,3.0,3.0,2,Venta,0,1,0,0,0,0
5,2020-12-17,2021-03-04,5.049009,-75.506802,3.0,3.0,3.0,1,Venta,0,0,0,1,0,0
6,2020-09-13,2020-09-24,4.732379,-74.082150,3.0,3.0,3.0,2,Venta,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197542,2020-11-30,2021-05-19,7.064000,-73.106000,3.0,3.0,3.0,1,Venta,0,0,0,0,1,0
197544,2020-10-27,2023-12-31,4.649682,-74.161950,3.0,3.0,3.0,1,Venta,0,0,0,0,0,1
197546,2020-10-28,2021-01-02,3.413000,-76.541000,3.0,3.0,3.0,7,Venta,0,0,0,1,0,0
197547,2020-08-14,2020-08-14,4.674874,-74.147077,3.0,3.0,3.0,2,Venta,0,1,0,0,0,0
197548,2020-10-06,2020-11-27,10.935994,-74.802899,3.0,3.0,3.0,1,Venta,0,0,1,0,0,0

# igual en propiedadesTest

In [54]:
propiedadesTest["property_type"]=propiedadesTest["property_type"].map(tipo_propiedad)

In [60]:
propiedadesTest

,id,start_date,end_date,lat,lon,rooms,bedrooms,bathrooms,property_type,tiempoVenta1,tiempoVenta2,tiempoVenta3,tiempoVenta4,tiempoVenta5
0,pCiVu6rxpBq9dCZfYCXXgA==,2020-09-04,2020-09-12,4.722000,-74.075000,3.0,3.0,3.0,2,1,0,0,0,0
1,L0XSQ7mF1TWb1lHRg4n2+A==,2020-10-20,2020-10-20,NaN,NaN,NaN,NaN,3.0,1,1,0,0,0,0
2,FbWRxZOMNoUzVOLXgkum1A==,2020-10-20,2020-10-22,6.259253,-75.628381,NaN,NaN,1.0,2,1,0,0,0,0
3,RUV1P+3UOmNdlJ9fBdWFyw==,2020-12-10,2023-12-31,6.203000,-75.556000,NaN,NaN,NaN,5,0,0,0,0,1
4,ifKutEAhyovuDNeYrFFV+A==,2020-12-10,2020-12-11,NaN,NaN,NaN,NaN,2.0,2,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65845,RuyWia5y5aifsVVKmIUSnw==,2020-12-02,2021-08-03,6.212981,-75.599349,3.0,3.0,NaN,1,0,0,0,0,1
65846,PmGnbMcvOoweh0wsqAh6dA==,2020-07-27,2020-10-02,5.041331,-75.512415,NaN,NaN,1.0,1,0,0,1,0,0
65847,BFgIYQiaJNz/d9548oqXUg==,2020-11-06,2020-11-06,5.064733,-75.670570,NaN,NaN,2.0,7,1,0,0,0,0
65848,DSSyKe2ynj2Iqkq1Tz4c0w==,2020-12-14,2020-12-14,7.138641,-73.127312,NaN,NaN,2.0,1,1,0,0,0,0
65849,TM76X1aBkoucRabL+AoBXA==,2020-11-10,2020-11-11,NaN,NaN,NaN,NaN,2.0,1,1,0,0,0,0

elimino las columnas "start_date","end_date", ya que las remplazo con el procemiento que hice anteriormente ("restafechas")
y es mejor para evaluar el modelo

In [55]:
propiedadesTest.drop(["start_date","end_date"],axis=1,inplace=True)

In [56]:
propiedadesTest.drop(["id"],axis=1,inplace=True)

In [312]:
propiedadesTest.head(1)

,lat,lon,rooms,bedrooms,bathrooms,property_type,tiempoVenta1,tiempoVenta2,tiempoVenta3,tiempoVenta4,tiempoVenta5
0,4.722,-74.075,3.0,3.0,3.0,2,1,0,0,0,0

In [316]:
propiedadesTrain.head(1)

,lat,lon,rooms,bedrooms,bathrooms,property_type,target,tiempoVenta1,tiempoVenta2,tiempoVenta3,tiempoVenta4,tiempoVenta5
0,6.203,-75.572,3.0,3.0,3.0,2,1,0,0,0,0,1

In [57]:
propiedadesTrain.drop(["start_date","end_date","operation_type"],axis=1,inplace=True)

ya acá termino el procesamiento de los datos y procedo a aplicar el modelo correspondiente para aplicar Machine Learning

para aplicar el modelo que escogí debo separar dos archivos uno con las variables independientes (X) que tienen una correlacion con la dependiente en este caso "target" y otro archivo (y) que solo tendrá la variable a predecir.

In [58]:
X=propiedadesTrain.drop("target",axis=1)

In [59]:
y=propiedadesTrain.target

In [61]:
X

,lat,lon,rooms,bedrooms,bathrooms,property_type,tiempoVenta1,tiempoVenta2,tiempoVenta3,tiempoVenta4,tiempoVenta5
0,6.203000,-75.572000,3.0,3.0,3.0,2,0,0,0,0,1
1,4.722748,-74.073115,3.0,3.0,3.0,1,0,0,0,0,1
2,4.709000,-74.030000,3.0,3.0,3.0,2,1,0,0,0,0
5,5.049009,-75.506802,3.0,3.0,3.0,1,0,0,1,0,0
6,4.732379,-74.082150,3.0,3.0,3.0,2,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
197542,7.064000,-73.106000,3.0,3.0,3.0,1,0,0,0,1,0
197544,4.649682,-74.161950,3.0,3.0,3.0,1,0,0,0,0,1
197546,3.413000,-76.541000,3.0,3.0,3.0,7,0,0,1,0,0
197547,4.674874,-74.147077,3.0,3.0,3.0,2,1,0,0,0,0
197548,10.935994,-74.802899,3.0,3.0,3.0,1,0,1,0,0,0

In [60]:
y

0         1
1         0
2         0
5         0
6         1
         ..
197542    0
197544    0
197546    0
197547    0
197548    0
Name: target, Length: 134530, dtype: int32

Ya que en el archivo "propiedadesTest" la información está incompleta, osea, existen varias columnas con valores nulos
me toca rellenar estos valores considerando algunos de las justificaciones que udé para alterar o transformar "propiedadesTrain", esto debido a que el cliente nos exige hacer una prueba de predicción con el valor total de los registros de este archivo(propiedadesTest)

In [111]:
propiedadesTest.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65850 entries, 0 to 65849
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   lat            49433 non-null  float64
 1   lon            49433 non-null  float64
 2   rooms          9110 non-null   float64
 3   bedrooms       13403 non-null  float64
 4   bathrooms      52054 non-null  float64
 5   property_type  65850 non-null  int64
 6   tiempoVenta1   65850 non-null  uint8
 7   tiempoVenta2   65850 non-null  uint8
 8   tiempoVenta3   65850 non-null  uint8
 9   tiempoVenta4   65850 non-null  uint8
 10  tiempoVenta5   65850 non-null  uint8
dtypes: float64(5), int64(1), uint8(5)
memory usage: 3.3 MB

In [90]:
propiedadesTest["lat"]=propiedadesTest["lat"].fillna(4.722)

In [91]:
propiedadesTest["lon"]=propiedadesTest["lon"].fillna(-74.075)

In [123]:
propiedadesTest.tiempoVenta1.value_counts()

1    37931
0    27919
Name: tiempoVenta1, dtype: int64

In [92]:
propiedadesTest["rooms"]=propiedadesTest["rooms"].fillna(3)

In [93]:
propiedadesTest["bedrooms"]=propiedadesTest["bedrooms"].fillna(3)

In [94]:
propiedadesTest["bathrooms"]=propiedadesTest["bathrooms"].fillna(2)

In [122]:
propiedadesTest["property_type"]=propiedadesTest["property_type"].fillna(1)

In [84]:
propiedadesTest["tiempoVenta1"]=propiedadesTest["tiempoVenta1"].fillna(0)

In [85]:
propiedadesTest["tiempoVenta2"]=propiedadesTest["tiempoVenta2"].fillna(0)

In [86]:
propiedadesTest["tiempoVenta3"]=propiedadesTest["tiempoVenta3"].fillna(0)

In [87]:
propiedadesTest["tiempoVenta4"]=propiedadesTest["tiempoVenta4"].fillna(0)

In [124]:
propiedadesTest["tiempoVenta5"]=propiedadesTest["tiempoVenta5"].fillna(0)

In [128]:
propiedadesTest.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65850 entries, 0 to 65849
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   lat            65850 non-null  float64
 1   lon            65850 non-null  float64
 2   rooms          65850 non-null  float64
 3   bedrooms       65850 non-null  float64
 4   bathrooms      65850 non-null  float64
 5   property_type  65850 non-null  int64
 6   tiempoVenta1   65850 non-null  uint8
 7   tiempoVenta2   65850 non-null  uint8
 8   tiempoVenta3   65850 non-null  uint8
 9   tiempoVenta4   65850 non-null  uint8
 10  tiempoVenta5   65850 non-null  uint8
dtypes: float64(5), int64(1), uint8(5)
memory usage: 3.3 MB

A continuación importamos todas las librerias necesarias para aplicar el modelo que escogimos, decidí probar con una regresón 
logística, ya que esta es para clasificaciones binarias.

In [62]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn import linear_model
from sklearn import model_selection
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import roc_auc_score
from sklearn.metrics import f1_score
import seaborn as sb

%matplotlib inline

In [80]:
from sklearn.metrics import confusion_matrix

In [63]:
import sklearn.metrics as metrics

Para poder entrenar mi modelo debo hacer la separeación correspondiente del archivo "propiedadesTrain", en train y test:

In [64]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=0)

In [ ]:
luego ya está listo para probar el modelo elegido:

In [66]:
log_regression=LogisticRegression()

In [67]:
log_regression.fit(X_train,y_train)

C:\Users\Usuario\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

y a continuación hacemos la predicción con el X_test dque generamos en el mismo archivo de "propiedadesTrain"

In [135]:
y_pred=log_regression.predict(X_test)

In [136]:
y_pred

array([0, 0, 0, ..., 0, 0, 0])

In [153]:
pred [0:1000]

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [ ]:
A continuación hago la predicción con el archivo "propiedadesTest". que es la prueba que nos pide el cliente

In [129]:
pred=log_regression.predict(propiedadesTest)

In [130]:
pred

array([0, 0, 0, ..., 0, 0, 0])

In [ ]:
A continuación calculamos las métricas para evaluar el modelo anterior

In [137]:
recall_score(y_test, y_pred, average=None)

array([0.94280745, 0.16460177])

calculamos la matrix de confusion que nos muestra los valores en la diagonal principal predichos correctamente y nos muetsra 
también los falsos positivos y los falsos negativos, considerando que el modelo está un poco deficiente de información, y según la cantidad de registros que tiene, el modelo está aceptable, pero claro que se puede mejorar modificando el modelo, o transformando los datos de otra forma, mas adelante mostraré si lo pude mejorar.

In [138]:
matriz_conf=metrics.confusion_matrix(y_test,y_pred)
matriz_conf

array([[18974,  1151],
       [ 5664,  1116]], dtype=int64)

El accuracy nos da un porcentaje aceptable, como mencioné anteriormente, la idea de esto es poder ir mejorando estos porcentajes, creando otros modelos, o transformando la data.

In [140]:
print("accuracy:",metrics.accuracy_score(y_test,y_pred))

accuracy: 0.7467013566251626

In [1135]:
propiedadesTest.head(1)

,lat,lon,rooms,bedrooms,bathrooms,property_type,tiempoVenta1,tiempoVenta2,tiempoVenta3,tiempoVenta4,tiempoVenta5
0,4.722,-74.075,3.0,3.0,3.0,2,1,0,0,0,0

hacemos un ejemplo de predicción con uno de los registros de "propiedadesTest"

In [141]:
log_regression.predict([[4.722,-74.075,3.0,3.0,3.0,2,1,0,0,0,0]])

C:\Users\Usuario\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

array([0])

In [ ]:
creo el archivo csv con mi nombre de usuario github

In [98]:
pd.DataFrame(pred).to_csv('wolflayla30.csv',index=False)

In [ ]:
y acá compruebo que esté bien nombrado:

In [100]:
csv=pd.read_csv("wolflayla30.csv")

In [101]:
csv

       pred
0         0
1         1
2         0
3         0
4         1
...     ...
65846     0
65847     0
65848     0
65849     0
65850     0

[65851 rows x 1 columns]

Aca termina la práctica, la idea es poder hacer mas modelos para ir viendo si mejora según este que ya probamos y poder escoger
el modelo que mejor haga las predicciones teniendo encuenta tambien la mejor ETL que apliquemos.

Tratando de mejorar el modelo anterior, decido hacer otro con el algoritmo de forestClassifier, y egfectivamente obtuve mejores resultado, aumentó el accuracy y el recall:

En este caso me quedaría sin dudarlo con este nuevo modelo.

In [71]:
from sklearn.ensemble import RandomForestClassifier
model=RandomForestClassifier()
model.fit(X_train,y_train)

RandomForestClassifier()

In [72]:
model.score(X_test,y_test)

0.8578384003567977

In [74]:
y_predic=model.predict(X_test)

In [75]:
matrizC=confusion_matrix(y_test,y_predic)
matrizC

array([[18480,  1623],
       [ 2202,  4601]], dtype=int64)

In [76]:
recall_score(y_test, y_predic, average=None)

array([0.91926578, 0.67631927])

In [78]:
print("accuracy:",metrics.accuracy_score(y_test,y_predic))

accuracy: 0.8578384003567977

In [96]:
pred=model.predict(propiedadesTest)

Est pred es el que subo nuevamente al dashboard